-#  This file is app/views/profiles/index.html.haml
%H6
%h1 All Profiles

%table#profiles
  %thead
    %tr
      %th Name
      %th School or Workplace
      %th Current Expertise
      %th I would like to learn more about
  %tbody
    - @profiles.each do |profiles|
      %tr
        %td= profiles.name
        %td= profiles.school_or_workplace
        %td= profiles.technical_expertise
        %td= profiles.still_learning
        
= link_to 'Create a SisterWeb Profile', new_profile_path
