%h2 Create New Profile

= form_tag profiles_path, :method => :post do

  = label :profiles, :name, 'Name'
  = text_field :profiles, :name

  = label :profiles, :school_or_workplace, 'School or Workplace'
  = text_field :profiles, :school_or_workplace
 
  = label :profiles, :technical_expertise, 'Technical Expertise'
  = text_field :profiles, :technical_expertise
  
  = label :profiles, :still_learning, 'Still Learning'
  = text_field :profiles, :still_learning

  = submit_tag 'Save Changes'