.row
  .col-md-12.text-center
    .well.controls
      = link_to calendar_path(date: @date - 1.month), class: "btn btn-default" do
        %i.glyphicon.glyphicon-backward
      = "#{@date.strftime("%B")} #{@date.year}"
      = link_to calendar_path(date: @date + 1.month), class: "btn btn-default" do
        %i.glyphicon.glyphicon-forward
.row
  .col-md-12
    = calendar @date do |date|
      = date.day